<h3>Cadastro de Obras:</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/postagens/nova" method="POST">
      <label for="nomeObra">Nome da obra: </label>
      <input type="text" name="nomeObra" class="form-control" required>
      <label for="nomeProprietario">Nome do Proprietario: </label>
      <input type="text" name="nomeProprietario" class="form-control" required>
      <label for="telefoneProprietario">Telefone do Proprietario: </label>
      <input type="number" name="telefoneProprietario" class="form-control">
      <button class="btn btn-success mt-4" type="submit">Cadastrar Orba</button>
    </form>
  </div>
</div>